.timer {
    margin-top: 15%;
    white-space: nowrap;
}

.timer>div {
    display: inline-block;
}

.timer>.line {
    width: 100%;
    height: 0.2vh;
    background: black;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
}

.timer>.time{
    margin-left: 1vw;
}

@keyframes reduce {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}